<footer class="page-footer blue lighten-3">
	<div class="footer-copyright blue lighten-2">
		<div class="container">
			(C) 2019 Jskny.<br>
			Powered by <a class="yellow-text lighten-2" href="https://sysrigar.com">Sysrigar</a>.
		</div>
	</div>
	<br>
</footer>
</body>
</html>
