<%- include("common-header", { title: "" }); %>
<nav class="lime accent-3" role="navigation">
	<div class="nav-wrapper container">
		<a id="logo-container" href="/" class="brand-logo"><i class="large material-icons">local_airport</i></a>

		<ul class="right hide-on-med-and-down">
			<li><a class="waves-effect waves-light btn green accent-3" href="/login">Login</a></li>
			<li><a href="/signin">Sign in</a></li>
		</ul>

		<ul id="nav-mobile" class="sidenav">
			<li class="center teal-text"><i class="large material-icons">local_airport</i>Flowers, ink</li>
			<li><a href="/login" class="btn waves-effect waves-light green accent-3">Login</a></li>
			<li><a href="/signin" class="btn waves-effect waves-light yellow darken-2">Sign in</a></li>
		</ul>
		<a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	</div>
</nav>
<div class="section no-pad-bot blue lighten-5">
	<div class="container">
		<br>
		<h1 class="header center green-text accent-2">Flowers, ink</h1>
		<div class="row center">
			<h5 class="header col s12 light">ようこそフラワーズインクへ！<br>It's a simple communication tool.</h5>
		</div>
		<div class="row center">
			<a href="/login" class="btn-large waves-effect waves-light green accent-3">Login</a>
			<a href="/signin" class="btn-large waves-effect waves-light yellow darken-2">Sign in</a>
		</div>
		<br>
	</div>
</div>
<%- include("common-footer"); %>
