<%- include("common-header", { title: "Sign in" }); %>
<nav class="lime accent-3" role="navigation">
	<div class="nav-wrapper container">
		<a id="logo-container" href="/" class="brand-logo"><i class="large material-icons">local_airport</i>Flowers, ink</a>

		<ul id="nav-mobile" class="sidenav">
			<li class="center teal-text"><i class="large material-icons">local_airport</i>Flowers, ink</li>
			<li><a href="/">Home</a></li>
			<li><a href="/login">Login</a></li>
			<li><a href="/signin">Signin</a></li>
		</ul>
		<a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	</div>
</nav>
<div class="section no-pad-bot blue lighten-5">
	<div class="container">
		<h1 class="header center green-text accent-2">Sign in</h1>
	</div>
</div>


<div class="container">
	<div class="row">
<form id="form-usr-signin" action="/signin" method="post">
		<div class="input-field col s12">
			<input value="" id="usr-id" name="uid" type="text" class="validate">
			<label class="active" for="usr-id">User id</label>
		</div>

		<div class="input-field col s12">
			<input value="" id="usr-pass" name="upass" type="text" class="validate">
			<label class="active" for="usr-pass">Password</label>
		</div>

		<div class="row center">
			<span id="btn-signin" class="waves-effect waves-light btn-flat btn-large green accent-2">Sign in</span>
		</div>
</form>
	</div>
</div>
<script>
// サインイン処理
$('#btn-signin').on('click', function() {
	var id = $("#usr-id").val();
	var pass = $("#usr-pass").val();

	var errMsg = "";

	if (id.length == 0) {
		errMsg = "User ID is empty.";
	}
	else if (id.length > 50){
		errMsg = "User ID is over 50 character.";
	}

	if (errMsg.length != 0) {
		// ユーザーID関連で、 エラーメッセージがセットされているので、通知を出す。
		M.toast({ html: errMsg, classes: 'rounded' });
		return;
	}


	if (pass.length == 0) {
		errMsg = "User Password is empty.";
	}
	else if (pass.length < 6) {
		errMsg = "User Password is less than 6 character.";
	}
	else if (pass.length > 50){
		errMsg = "User Password is over 50 character.";
	}

	if (errMsg.length != 0) {
		// パスワード関連でエラーメッセージがセットされているので、通知を出す。
		M.toast({ html: errMsg, classes: 'rounded' });
		return;
	}


	// 執行可能なので、通知をすべて消す。
	M.Toast.dismissAll();


	// IDとパスワードをセットしてサーバーに送る。
	$("#form-usr-signin").submit();
});


$(document).ready(function() {
	M.updateTextFields();

<%	// サーバーからの応答の値がセットされている場合、通知を出す。
	if (typeof msg !== 'undefined') { -%>
	M.toast({ html: '<%= msg %>', classes: 'rounded' });
<%	} -%>
});
</script>
<%- include("common-footer"); %>
